body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.box {
    padding: 20px;
    border: 2px solid grey;
    margin-top: 10px;
}


.active {
    background-color: green;
    color: white;
    font-weight: bold;
}